.InfoPage {
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". InfoCard Description ."
    ". RezTable RezTable .";
    grid-template-columns: 10vw 33vw 50vw auto;
}

