:root {
  --suai-brand-color-1: #005aaa;
  --main-background: #f7f9fa;
  --suai-button-color: #3498DB;
}

body {
  background-color: var(--main-background);
}

.button-suai {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--suai-button-color);
  color:#fff;
}