:root {
  --suai-brand-color-1: #005aaa;
  --main-background: #f7f9fa;
  --suai-button-color: #3498DB;
}

body {
  background-color: var(--main-background);
}

.block {
  background-color: #fff;
  border-radius: 10px;
  min-width: 100px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

.button-suai {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--suai-button-color);
  color:#fff;
}