.form__div {
    display:grid;
    grid-template-areas: "form__label form__textarea";
    grid-template-columns: 25% auto;
    border: 1px #848484 solid;
    border-radius: 10px;
    background-color: #eee;
    margin: 10px 0;
}

.form__label {
    grid-area: form__label;
    width: 100%;
    padding: 10px;
    justify-self: center;
    align-self:center;
    
}


.form__textarea {
    grid-area: form__textarea;
    width: 100%;
    border:none;
    border-left: 1px #848484 solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}