.InfoCard {
    grid-area: InfoCard;
    display: grid;
    grid-template-areas: 
    "h2"
    "KafInfo"
    "Table";
}

.InfoCard__h2 {
    grid-area: h2;
    font-family: Roboto-Lite;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px #848484 solid;
}

.InfoCard__span {
    color:#999;
    font-style: italic;
}

.InfoCard__KafInfo {
    grid-area: KafInfo;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: space-around;
    color: var(--suai-brand-color-1);
    padding: 10px;
}

.InfoCard__p {
    margin: 0;  
}

.InfoCard__Table {
    grid-area: Table;
    border-collapse: collapse;
    color: var(--suai-brand-color-1)
}
.InfoCard__td {
    border: 1px var(--suai-button-color) solid;
    padding: 2px;
}

.InfoCard__td_text-align-center {
    text-align: center;
}